@model Usuario

<body>
<header>
    <main>
        <h2>Registro de Clientes</h2>
        <form asp-controller="Cliente" asp-action="AltaCliente" method="post">

            <input asp-for="Rol" type="hidden" value="@Rol.Cliente"/>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" asp-for="Nombre">Nombre: </label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" asp-for="Nombre" placeholder="Escriba un nombre">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" asp-for="Direccion">Dirección:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" asp-for="Direccion" placeholder="Escriba una dirección">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" asp-for="Telefono">Teléfono</label>
                <div class="col-sm-6">
                    <input class="form-control" type="tel" asp-for="Telefono" placeholder="Escriba un teléfono">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" asp-for="NombreUsuario">Nombre de usuario:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" asp-for="NombreUsuario" placeholder="Escriba un nombre de usuario">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" asp-for="Clave">Clave</label>
                <div class="col-sm-6">
                    <input class="form-control" type="password" asp-for="Clave" placeholder="Escriba una clave">
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="offset-sm-3 col-sm-3 d-grid">
                    <input class="btn btn-primary" type="submit" value="Crear">
                </div>
                <div class="col-sm-3 d-grid">
                    <input class="btn btn-primary" type="reset" value="Borar">
                </div>
            </div>

        </form>
    </main>
</header>
</body>